@model School.Domain.Core.Teacher

<div class="panel panel-primary">
    <div class="panel-heading">Создание учителя</div>
    <form id="form_teacher" asp-action="Create" class="panel-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="ID" type="hidden" value="0" />
        </div>
        <div class="form-group">
            <label asp-for="Subjects" class="control-label required"></label>
            <select id="subjects" asp-for="Subjects" asp-items="ViewBag.Subjects" class="form-control" style="height: 200px;"></select>
            <a id="create_class" data-toggle="popover">или создайте новый предмет</a>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label required"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label required"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MiddleName" class="control-label"></label>
            <input asp-for="MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName" class="text-danger"></span>
        </div>
        <div class="form-group modal-footer ">
            <input type="button" value="Сохранить" class="btn btn-outline btn-primary" onclick="dialog.save('Create')" />
            <input type="button" value="Закрыть" class="btn btn-outline btn-primary" onclick="dialog.close(); return false;" />
        </div>
    </form>
</div>

<script>
    //отображение tooltip-a для создании предмета
    tooltip.init();
</script>

