
@{
    ViewData["Title"] = "Таблица с учителями";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top: 15px;">
    <div class="col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Таблица учителей
            </div>
            <div class="panel-body" id="teacher_container">
            </div>
        </div>
    </div>
</div>

<!-- Dialog window -->
<div id="dialog_container"></div>

<ul>
    <li>
        Все действия над таблицей можно совершать:
        <ul>
            <li>либо нажимая на кнопки над таблицей</li>
            <li>либо вызывая контекстное меню при выборе строчки таблицы</li>
            <li>либо дабл-кликом на строчку</li>
        </ul>
</ul>


<script src="~/js/bootstrap-table/components/teacher_controller.js"></script>